
.vs/CricScoreInfo.UI/v15/.suo
.vs/CricScoreInfo.UI/v15/Server/sqlite3/db.lock
.vs/CricScoreInfo.UI/v15/Server/sqlite3/storage.ide
.vs/CricScoreInfo.UI/v15/Server/sqlite3/storage.ide-shm
.vs/CricScoreInfo.UI/v15/Server/sqlite3/storage.ide-wal
CricScoreInfo.Web/bin/Debug/netcoreapp2.0/appsettings.json
CricScoreInfo.Web/bin/Debug/netcoreapp2.0/CricScoreInfo.Web.deps.json
CricScoreInfo.Web/bin/Debug/netcoreapp2.0/CricScoreInfo.Web.dll
CricScoreInfo.Web/bin/Debug/netcoreapp2.0/CricScoreInfo.Web.pdb
CricScoreInfo.Web/bin/Debug/netcoreapp2.0/CricScoreInfo.Web.runtimeconfig.dev.json
CricScoreInfo.Web/bin/Debug/netcoreapp2.0/CricScoreInfo.Web.runtimeconfig.json
CricScoreInfo.Web/bin/IISSupport/IISExeLauncherArgs.txt
CricScoreInfo.Web/bin/IISSupport/pidfile.txt
CricScoreInfo.Web/bin/IISSupport/VSIISExeLauncher.exe
CricScoreInfo.Web/obj/CricScoreInfo.Web.csproj.nuget.cache
CricScoreInfo.Web/obj/CricScoreInfo.Web.csproj.nuget.g.props
CricScoreInfo.Web/obj/CricScoreInfo.Web.csproj.nuget.g.targets
CricScoreInfo.Web/obj/Debug/netcoreapp2.0/CricScoreInfo.Web.AssemblyInfo.cs
CricScoreInfo.Web/obj/Debug/netcoreapp2.0/CricScoreInfo.Web.AssemblyInfoInputs.cache
CricScoreInfo.Web/obj/Debug/netcoreapp2.0/CricScoreInfo.Web.csproj.CoreCompileInputs.cache
CricScoreInfo.Web/obj/Debug/netcoreapp2.0/CricScoreInfo.Web.csproj.FileListAbsolute.txt
CricScoreInfo.Web/obj/Debug/netcoreapp2.0/CricScoreInfo.Web.csprojAssemblyReference.cache
CricScoreInfo.Web/obj/Debug/netcoreapp2.0/CricScoreInfo.Web.dll
CricScoreInfo.Web/obj/Debug/netcoreapp2.0/CricScoreInfo.Web.pdb
CricScoreInfo.Web/obj/project.assets.json
Testing.CricScoreInfo.UI/bin/Debug/netcoreapp2.0/Testing.CricScoreInfo.UI.deps.json
Testing.CricScoreInfo.UI/bin/Debug/netcoreapp2.0/Testing.CricScoreInfo.UI.dll
Testing.CricScoreInfo.UI/bin/Debug/netcoreapp2.0/Testing.CricScoreInfo.UI.pdb
Testing.CricScoreInfo.UI/obj/Debug/netcoreapp2.0/Testing.CricScoreInfo.UI.AssemblyInfo.cs
Testing.CricScoreInfo.UI/obj/Debug/netcoreapp2.0/Testing.CricScoreInfo.UI.AssemblyInfoInputs.cache
Testing.CricScoreInfo.UI/obj/Debug/netcoreapp2.0/Testing.CricScoreInfo.UI.csproj.CoreCompileInputs.cache
Testing.CricScoreInfo.UI/obj/Debug/netcoreapp2.0/Testing.CricScoreInfo.UI.csproj.FileListAbsolute.txt
Testing.CricScoreInfo.UI/obj/Debug/netcoreapp2.0/Testing.CricScoreInfo.UI.dll
Testing.CricScoreInfo.UI/obj/Debug/netcoreapp2.0/Testing.CricScoreInfo.UI.pdb
Testing.CricScoreInfo.UI/obj/project.assets.json
Testing.CricScoreInfo.UI/obj/Testing.CricScoreInfo.UI.csproj.nuget.cache
Testing.CricScoreInfo.UI/obj/Testing.CricScoreInfo.UI.csproj.nuget.g.props
Testing.CricScoreInfo.UI/obj/Testing.CricScoreInfo.UI.csproj.nuget.g.targets
